
@model HabitatManagement.BusinessEntities.PermitFormScreenDesignTemplateDetailBE

@{
    Layout = null;
}
<script src="~/js/View/editFormField.js"></script>

<script type="text/javascript">
    $(function () {
        debugger;
        EditFormField.onInit({
            tableFieldType: @Html.Raw((int)FormFieldType.Table)
        });
    });
</script>

<form id="PermitFormField" asp-controller="Home" asp-action="PermitFormField">
    <div class="container-fluid">
        <div class="form-group row">
            <label class="col-sm-3 text-right col-form-label" asp-for="Section" id="lblSection">Section</label>
            <div class="col-sm-9">
                <select asp-for="Section" asp-items="@ViewBag.SectionList" class="form-control"></select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 text-right col-form-label" asp-for="FieldType" id="lblFieldType">Field Type</label>
            <div class="col-sm-9">
                <select asp-for="FieldType" asp-items="Html.GetEnumSelectList<FormFieldType>()" class="form-control"></select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 text-right col-form-label" asp-for="FieldName" id="lblDesign">Field Name</label>
            <div class="col-sm-9">
                @Html.TextArea("FieldName", Model.FieldName, new { @class = "form-control textAreaVerticalResizing", @rows = 6 })
            </div>
        </div>

        <div id="tblFieldTypeSection" style="display:none;">
            <div class="form-group row">
                <label class="col-sm-3 text-right col-form-label" asp-for="TableRowCount" id="lbTableRowCount">Table Row Count</label>
                <div class="col-sm-9">
                    @Html.TextBox("TableRowCount", Model.TableRowCount, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 text-right col-form-label" asp-for="TableRowCount" id="lbTableColumn">Table Column Header</label>
                <div class="col-sm-9 input-group">
                    @Html.TextBox("TableColumn", "", new { @class = "form-control", @placeholder="Column Name" } )
                    <select asp-items="Html.GetEnumSelectList<FormFieldType>()" id="ColumnFieldType" class="form-control"></select>
                    <div class="input-group-append">
                        <button class="btn btn-success" type="button" id="btnAddTableColumn">Add</button>
                    </div>
                </div>
            </div>
        </div>

        @Html.HiddenFor(m => m.FormID)
        @Html.HiddenFor(m => m.Sequence)
        @Html.HiddenFor(m => m.Field)
    </div>
</form>