@model HabitatManagement.Models.ProjectFormCreationModel

@{
    Layout = null;
}

<style>
    .input-group-append {
        cursor: pointer;
    }

    .form-control[readonly] {
        cursor: not-allowed;
        background-color: #eee !important;
        opacity: 1;
    }
</style>

<form id="FormFeedback" asp-controller="Form" asp-action="SaveFormFeedback">
    <div class="container-fluid">
        <div class="form-group row col-lg-6" id="projectFormDiv">
            <label class="col-sm-2 text-right col-form-label" asp-for="FormID">Form</label>
            <div class="col-sm-10">
                @if (Model.Surrogate > 0)
                {
                <select asp-for="FormID" asp-items="@ViewBag.FormList" readonly="readonly" class="form-control projectFormCreation"></select>
                }
                else
                {
                <select asp-for="FormID" asp-items="@ViewBag.FormList" class="form-control projectFormCreation"></select>
                }

            </div>
        </div>

        <div class="col-lg-12 dvFeedbackSection" style="display:none;">
            <div id="dvFormFeedback"></div>
        </div>
    </div>
    @Html.HiddenFor(m => m.Surrogate)
    @Html.HiddenFor(m => m.FormID)
</form>

<script type="text/javascript">

    $(function () {
        $('.projectFormCreation').on('change', function () {
            if ($(this).val() == "-1") {
                $(".dvFeedbackSection").hide();
                $('#dvFormFeedback').html("");
            }
            else {
                loadFormFeedback($(this).val());
            }
        });

        if ($('.projectFormCreation').val() > 0) {
            $('.projectFormCreation').trigger('change');
            $('#projectFormDiv').hide();
        }
        else {
            $('#projectFormDiv').show();
        }
    });

    function loadFormFeedback(formId) {
        $.ajax({
            cache: false,
            async: false,
            data: { formID: formId, isRenderForDragnDrop: false, surrogate: @Model.Surrogate },
            url: '@Url.Action("PermitFormTemplateFields", "Home")',
            success: function (result) {
                $(".dvFeedbackSection").show();
                $('#dvFormFeedback').html(result);
            },
            error: function () {
            },
            beforeSend: function () { $("#wait").css("display", "block"); },
            complete: function () { $("#wait").css("display", "none"); }
        });
    }
</script>